.counter {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttonsPanel {
    border: 2px solid darkcyan;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
